<configuration scan="true" scanPeriod="60 seconds">

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <conversionRule conversionWord="coloredLevel" converterClass="com.datawerks.spark.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSSZ, UTC} %-16level %-43thread %-24logger{24} %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT"/>
  </appender>

  <!--<appender name="logstash" class="net.logstash.logback.appender.LogstashSocketAppender">-->
    <!--<host>${LOGSTASH_HOST}</host>-->
    <!--<port>${LOGSTASH_PORT}</port>-->
    <!--<customFields>{"msi":"${MSI_INSTANCE}"}</customFields>-->
  <!--</appender>-->

  <root level="INFO">
    <appender-ref ref="ASYNCSTDOUT"/>
    <!--<appender-ref ref="logstash" />-->
  </root>
</configuration>
